* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* global element */

:root {
    --main-color: #2196f3;
    --main-color-alt: #1787e0;
    --main-transition: 0.3s;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Cairo', sans-serif;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width:768px) {
    .container {
        width: 750px;
    }
}

@media (min-width:992px) {
    .container {
        width: 970px;
    }
}

@media (min-width:1200px) {
    .container {
        width: 1170px;
    }
}

.main_title {
    text-transform: uppercase;
    position: relative;
    font-weight: bold;
    font-size: 30px;
    border: 2px solid black;
    width: fit-content;
    margin: 20px auto 100px;
    padding: 10px 20px;
    transition: var(--main-transition);
    z-index: 1;
}

.main_title::before,
.main_title::after {
    content: '';
    background-color: var(--main-color);
    width: 12px;
    height: 12px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.main_title::before {
    left: -30px;
}

.main_title::after {
    right: -30px;
}

.main_title:hover {
    color: white;
    border: 2px solid white;
    transition-delay: 0.5s;
}

.main_title:hover::before {
    z-index: -1;
    animation: left-fill 0.5s linear forwards;

}

.main_title:hover::after {
    z-index: -1;
    animation: right-fill 0.5s linear forwards;

}

/* end global */


/* start header */
.header {
    -webkit-box-shadow: 0 0 10px #ddd;
    -moz-box-shadow: 0 0 10px #ddd;
    box-shadow: 0 0 10px #ddd;
    position: relative;
    background-color: white;
}

.header .container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: white;
    position: relative;
}

@media (max-width:767px) {
    .header .container {
        flex-direction: column;
    }
}

.header .container .logo {
    color: var(--main-color);
    font-size: 26px;
    font-weight: bold;
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header .container .logo a {
    color: var(--main-color);
    font-size: 30px;
    font-weight: bold;
}

@media (max-width:767px) {
    .header .container .logo {
        width: 100%;
        margin: auto;
    }
}

.header .container .nav {
    display: flex;
}

.header .container .nav>li>a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    padding: 20px;
    height: 72px;
    position: relative;
    overflow: hidden;
    transition: var(--main-transition);
}

@media (max-width:767px) {
    .header .container .nav>li>a {
        padding: 15px;
        height: 40px;
    }
}

.header .container .nav>li:hover .megamenu {
    opacity: 1;
    transform: translateY(0);
    z-index: 99;
}

.header .container .nav>li>a::before {
    content: '';
    position: absolute;
    width: 100%;
    top: 0;
    background-color: var(--main-color);
    height: 2px;
    left: -100%;
    transition-duration: var(--main-transition);
}

.header .container .nav>li>a:hover {
    background-color: #fafafa;
}

.header .container .nav>li>a:hover::before {
    left: 0;
}

/* mega menu  */
.header .container .nav .megamenu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    position: absolute;
    z-index: -1;
    opacity: 0;
    transform: translateY(80px);
    left: 0;
    width: 100%;
    top: calc(100% + 5px);
    padding: 20px;
    border-bottom: 2px solid var(--main-color);
    transition: var(--main-transition);
}

@media (max-width: 767px) {
    .header .container .nav .megamenu {
        flex-direction: column;
        padding: 5px;
        align-items: flex-start;
    }
}

.header .container .nav .megamenu img {
    flex-basis: 45%;
    min-width: 400px;
    max-width: 100%;
}

@media (max-width: 991px) {
    .header .container .nav .megamenu img {
        display: none;
    }
}

.header .container .nav .megamenu .links {
    display: flex;
    flex-basis: 50%;
    justify-content: space-between;
    min-width: 565px;

}

@media (max-width: 767px) {
    .header .container .nav .megamenu .links {
        flex-direction: column;
        padding: 5px;
        min-width: 265px;
    }
}

.header .container .nav .megamenu .links ul {
    flex-basis: 45%;

}

.header .container .nav .megamenu .links ul li {
    padding: 20px 20px 20px 0;
}

@media (max-width: 767px) {
    .header .container .nav .megamenu .links ul li {
        padding: 15px 0 15px 0;
        width: 400px;
    }
}

.header .container .nav .megamenu .links ul li:hover {

    background-color: #fafafa;
}

.header .container .nav .megamenu .links ul li:not(:last-child) {
    border-bottom: 1px solid #e9e6e6;
    ;
}

@media (max-width: 767px) {
    .header .container .nav .megamenu .links ul:first-child li:last-child {
        border-bottom: 1px solid #e9e6e6
    }
}

.header .container .nav .megamenu .links ul li a {
    font-weight: bold;
    padding: 20px;
    color: var(--main-color);
    width: 509px;

}

.header .container .nav .megamenu .links ul li a i {
    margin-right: 10px;
}


/* end mega menu  */

/* end header  */

/* start landing  */
.landing {
    position: relative;
}

.landing::before {
    content: '';
    position: absolute;
    background-color: #ececec;
    width: 100%;
    height: 100%;
    left: 0;
    transform: skewy(-6deg);
    top: 0;
    transform-origin: top left;
    z-index: -1;
}

.landing .container {
    background-color: transparent;
    min-height: calc(100vh - 72px);
    display: flex;
    align-items: center;
    padding-bottom: 120px;
}

@media (max-width:979px) {
    .landing .container {
        flex-direction: column;
    }
}


.landing .container .img img {
    position: relative;
    width: 600px;
    animation: up_down 5s linear infinite;
}

@media (max-width:767px) {
    .landing .container .img img {
        display: none;
    }
}

.landing .container .text {
    flex: 1;
}

@media (max-width:979px) {
    .landing .container .text {
        text-align: center;
    }
}

@media (max-width:767px) {
    .landing .container .text {
        margin: 100px auto;
    }
}

.landing .container h1 {
    font-size: 50px;
}

@media (max-width: 767px) {
    .landing .text h1 {
        font-size: 28px;
    }
}

.landing .container p {
    font-size: 23px;
    line-height: 1.7;
    margin: 5px 0 0;
    color: #666;
    max-width: 500px;
    ;
}

@media (max-width: 767px) {
    .landing .text p {
        font-size: 18px;
    }
}


.landing .up_down {
    color: var(--main-color);
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    transition: var(--main-transition);
}

.landing .up_down i {

    animation: up_down_2 1.5s linear infinite;

}

@media (max-width:767px) {
    .landing .up_down i {
        bottom: 150px;
        margin: auto;
    }
}

.landing .up_down i:hover {
    color: var(--main-color-alt);
}

/* end landing */

/* start articles */
.articles {
    padding-top: 50px;
    padding-bottom: 50px;
}

.articles .container .articles_content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 30px;
}

.articles .container .articles_content .box {
    border-radius: 10px;
    box-shadow: 0 0 10px #666;
}

.articles .container .articles_content .box .image img {
    border-radius: 10px;
    width: 100%;
}

.articles .container .articles_content .box .text {
    border-bottom: 1px solid #ddd;
    padding: 15px;
}

.articles .container .articles_content .box .text h2 {
    text-transform: capitalize;
    margin-bottom: 10px;
}

.articles .container .articles_content .box .text p {
    line-height: 1.8;
}

.articles .container .articles_content .box .footer {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.articles .container .articles_content .box .footer a {
    font-size: 20px;
    font-weight: bold;
    color: var(--main-color);
}

.articles .container .articles_content .box .footer i {
    margin-right: 10px;
    color: var(--main-color);
    font-size: 20px;
}

/* end articles */

/* start gallery */
.gallery {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: rgb(204, 199, 199);
}

.gallery .container .gallery_content {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.gallery .container .gallery_content .box {
    padding: 10px;
    background-color: white;
}

.gallery .container .gallery_content .box img {
    width: 100%;
    height: 340px;
}


/* end gallery */

/* start features */
.features {
    padding-top: 50px;
    padding-bottom: 50px;
}

.features .container .features_content {
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}

.features .container .box {
    border: 1px solid rgb(225, 200, 200);
    border-radius: 10px;

}

.features .container .box .image {
    position: relative;
    overflow: hidden;
    border-radius: 10px;

}

.features .container .box .image::after {
    position: absolute;
    content: '';
    border-color: transparent transparent white transparent;
    border-style: solid;
    border-width: 268px;
    width: 0;
    height: 0;
    bottom: -389px;
    right: -265px;
    transform: rotate(154deg);
}

@media (max-width:767px) {
    .features .container .box .image::after {
        bottom: -396px;
        right: -231px;
        transform: rotate(155deg);
    }
}

.features .container .box img {
    width: 100%;
}

.features .container .box .text {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 20px;
}

.features .container .box .text h2 {
    position: relative;
    text-transform: capitalize;
    padding: 15px;
    font-size: 30px;
    margin-bottom: 20px;
}


.features .container .box:first-child .text h2::after {
    content: '';
    position: absolute;
    height: 3px;
    width: calc(100% - 200px);
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: red;
}

.features .container .box:nth-child(2) .text h2::after {
    content: '';
    position: absolute;
    height: 3px;
    width: calc(100% - 200px);
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgb(18, 133, 8);
}

.features .container .box:last-child .text h2::after {
    content: '';
    position: absolute;
    height: 3px;
    width: calc(100% - 200px);
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--main-color);
}



.features .container .box .text p {
    line-height: 1.8;
    font-size: 18px;
}


.features .container .box a {
    display: block;
    text-transform: capitalize;
    width: fit-content;
    margin: 20px auto;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
}

.features .container .box:first-child a {
    border: 3px solid red;
    color: red;
}

.features .container .box:nth-child(2) a {
    border: 3px solid rgb(18, 133, 8);
    color: rgb(18, 133, 8);

}

.features .container .box:last-child a {
    border: 3px solid var(--main-color);
    color: var(--main-color);
}

/* end features */


/* start animations */
@keyframes up_down {

    0%,
    100% {
        top: 0;
    }

    50% {
        top: -50px;
    }
}

@keyframes up_down_2 {

    0%,
    10%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40%,
    60% {
        transform: translateY(-15px);
    }
}


@keyframes left-fill {
    50% {
        left: 0;
        width: 12px;
        height: 12px;
    }

    100% {
        left: 0;
        border-radius: 0;
        height: 100%;
        width: 100%;
    }
}

@keyframes right-fill {
    50% {
        right: 0;
        width: 12px;
        height: 12px;
    }

    100% {
        right: 0;
        border-radius: 0;
        height: 100%;
        width: 100%;
    }
}

/* end animations  */