* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* global element */

:root {
    --main-color: #2196f3;
    --main-color-alt: #1787e0;
    --main-transition: 0.3s;
    --section-background: #ececec;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Cairo', sans-serif;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width:768px) {
    .container {
        width: 750px;
    }
}

@media (min-width:992px) {
    .container {
        width: 970px;
    }
}

@media (min-width:1200px) {
    .container {
        width: 1170px;
    }
}

.main_title {
    text-transform: uppercase;
    position: relative;
    font-weight: bold;
    font-size: 30px;
    border: 2px solid black;
    width: fit-content;
    margin: 20px auto 100px;
    padding: 10px 20px;
    transition: var(--main-transition);
    z-index: 1;
}

.main_title::before,
.main_title::after {
    content: '';
    background-color: var(--main-color);
    width: 12px;
    height: 12px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.main_title::before {
    left: -30px;
}

.main_title::after {
    right: -30px;
}

.main_title:hover {
    color: white;
    border: 2px solid white;
    transition-delay: 0.5s;
}

.main_title:hover::before {
    z-index: -1;
    animation: left-fill 0.5s linear forwards;

}

.main_title:hover::after {
    z-index: -1;
    animation: right-fill 0.5s linear forwards;

}

/* end global */


/* start header */
.header {
    -webkit-box-shadow: 0 0 10px #ddd;
    -moz-box-shadow: 0 0 10px #ddd;
    box-shadow: 0 0 10px #ddd;
    position: relative;
    background-color: white;
}

.header .container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: white;
    position: relative;
}

@media (max-width:767px) {
    .header .container {
        flex-direction: column;
    }
}

.header .container .logo {
    color: var(--main-color);
    font-size: 26px;
    font-weight: bold;
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header .container .logo a {
    color: var(--main-color);
    font-size: 30px;
    font-weight: bold;
}

@media (max-width:767px) {
    .header .container .logo {
        width: 100%;
        margin: auto;
    }
}

.header .container .nav {
    display: flex;
}

.header .container .nav>li>a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    padding: 20px;
    height: 72px;
    position: relative;
    overflow: hidden;
    transition: var(--main-transition);
}

@media (max-width:767px) {
    .header .container .nav>li>a {
        padding: 15px;
        height: 40px;
    }
}

.header .container .nav>li:hover .megamenu {
    opacity: 1;
    transform: translateY(0);
    z-index: 99;
}

.header .container .nav>li>a::before {
    content: '';
    position: absolute;
    width: 100%;
    top: 0;
    background-color: var(--main-color);
    height: 2px;
    left: -100%;
    transition-duration: var(--main-transition);
}

.header .container .nav>li>a:hover {
    background-color: #fafafa;
}

.header .container .nav>li>a:hover::before {
    left: 0;
}

/* mega menu  */
.header .container .nav .megamenu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    position: absolute;
    z-index: -1;
    opacity: 0;
    transform: translateY(80px);
    left: 0;
    width: 100%;
    top: calc(100% + 5px);
    padding: 20px;
    border-bottom: 2px solid var(--main-color);
    transition: var(--main-transition);
}

@media (max-width: 767px) {
    .header .container .nav .megamenu {
        flex-direction: column;
        padding: 5px;
        align-items: flex-start;
    }
}

.header .container .nav .megamenu img {
    flex-basis: 45%;
    min-width: 400px;
    max-width: 100%;
}

@media (max-width: 991px) {
    .header .container .nav .megamenu img {
        display: none;
    }
}

.header .container .nav .megamenu .links {
    display: flex;
    flex-basis: 50%;
    justify-content: space-between;
    min-width: 565px;

}

@media (max-width: 767px) {
    .header .container .nav .megamenu .links {
        flex-direction: column;
        padding: 5px;
        min-width: 265px;
    }
}

.header .container .nav .megamenu .links ul {
    flex-basis: 45%;

}

.header .container .nav .megamenu .links ul li {
    padding: 20px 20px 20px 0;
}

@media (max-width: 767px) {
    .header .container .nav .megamenu .links ul li {
        padding: 15px 0 15px 0;
        width: 400px;
    }
}

.header .container .nav .megamenu .links ul li:hover {

    background-color: #fafafa;
}

.header .container .nav .megamenu .links ul li:not(:last-child) {
    border-bottom: 1px solid #e9e6e6;
    ;
}

@media (max-width: 767px) {
    .header .container .nav .megamenu .links ul:first-child li:last-child {
        border-bottom: 1px solid #e9e6e6
    }
}

.header .container .nav .megamenu .links ul li a {
    font-weight: bold;
    padding: 20px;
    color: var(--main-color);
    width: 509px;

}

.header .container .nav .megamenu .links ul li a i {
    margin-right: 10px;
}


/* end mega menu  */

/* end header  */

/* start landing  */
.landing {
    position: relative;
}

.landing::before {
    content: '';
    position: absolute;
    background-color: #ececec;
    width: 100%;
    height: 100%;
    left: 0;
    transform: skewy(-6deg);
    top: 0;
    transform-origin: top left;
    z-index: -1;
}

.landing .container {
    background-color: transparent;
    min-height: calc(100vh - 72px);
    display: flex;
    align-items: center;
    padding-bottom: 120px;
}

@media (max-width:979px) {
    .landing .container {
        flex-direction: column;
    }
}


.landing .container .img img {
    position: relative;
    width: 600px;
    animation: up_down 5s linear infinite;
}

@media (max-width:767px) {
    .landing .container .img img {
        display: none;
    }
}

.landing .container .text {
    flex: 1;
}

@media (max-width:979px) {
    .landing .container .text {
        text-align: center;
    }
}

@media (max-width:767px) {
    .landing .container .text {
        margin: 100px auto;
    }
}

.landing .container h1 {
    font-size: 50px;
}

@media (max-width: 767px) {
    .landing .text h1 {
        font-size: 28px;
    }
}

.landing .container p {
    font-size: 23px;
    line-height: 1.7;
    margin: 5px 0 0;
    color: #666;
    max-width: 500px;
    ;
}

@media (max-width: 767px) {
    .landing .text p {
        font-size: 18px;
    }
}


.landing .up_down {
    color: var(--main-color);
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    transition: var(--main-transition);
}

.landing .up_down i {

    animation: up_down_2 1.5s linear infinite;

}

@media (max-width:767px) {
    .landing .up_down i {
        bottom: 150px;
        margin: auto;
    }
}

.landing .up_down i:hover {
    color: var(--main-color-alt);
}

/* end landing */

/* start articles */
.articles {
    padding-top: 50px;
    padding-bottom: 50px;
}

.articles .container .articles_content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 30px;
}

.articles .container .articles_content .box {
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 15px rgb(0 0 0 /10%);
    transition: transform var(--main-transition), box-shadow var(--main-transition);
}

.articles .container .articles_content .box:hover {
    transform: translateY(-10px);
    box-shadow: 0 2px 15px rgb(0 0 0 /20%);
}

.articles .container .articles_content .box .image img {
    width: 100%;
    max-width: 100%;
}

.articles .container .articles_content .box .text {
    border-bottom: 1px solid #ddd;
    padding: 15px;
}

.articles .container .articles_content .box .text h2 {
    text-transform: capitalize;
    margin-bottom: 10px;
}

.articles .container .articles_content .box .text p {
    line-height: 1.8;
}

.articles .container .articles_content .box .footer {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.articles .container .articles_content .box .footer a {
    font-size: 20px;
    font-weight: bold;
    color: var(--main-color);
}

.articles .container .articles_content .box .footer i {
    margin-right: 10px;
    color: var(--main-color);
    font-size: 20px;
}

.articles .container .articles_content .box:hover i {
    animation: arrowx 0.6s infinite linear;
}

/* end articles */

/* start gallery */
.gallery {
    padding-top: 50px;
    padding-bottom: 50px;
    position: relative;
    background-color: rgb(204, 199, 199);
}

.gallery .container .gallery_content {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.gallery .container .gallery_content .box {
    padding: 10px;
    background-color: white;
    box-shadow: 0px 12px 20px 0px 0px rgb(0 0 0 / 13%), 0px 2px 4px 0px 0px rgb(0 0 0 / 12%);
}

.gallery .container .gallery_content .box .image {
    position: relative;
    overflow: hidden;
}

.gallery .container .gallery_content .box .image::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(255 255 255 / 20%);
    width: 0;
    height: 0;
    opacity: 0;
    z-index: 2;
}

.gallery .container .gallery_content .box .image:hover::before {
    animation: flashing 0.7s;
}

.gallery .container .gallery_content .box .image img {
    transition: var(--main-transition);
    max-width: 100%;
}

.gallery .container .gallery_content .box .image:hover img {
    transform: scale(1.1) rotate(5deg);
}

/* end gallery */

/* start features */
.features {
    padding-top: 50px;
    padding-bottom: 50px;
}

.features .container .features_content {
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}

.features .container .box {
    border: 1px solid rgb(225, 200, 200);
    border-radius: 10px;
    box-shadow: 0 2px 15px rgb(0 0 0 /10%);
    overflow: hidden;
}

.features .container .box .image {
    position: relative;
    overflow: hidden;
}

.features .container .box .image::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.features .container .box:first-child .image::before {
    background-color: rgb(244 64 54 / 60%);
}

.features .container .box:nth-child(2) .image::before {
    background-color: rgb(0 150 136 / 60%);
}

.features .container .box:last-child .image::before {
    background-color: rgb(3 169 244 / 60%);
}


.features .container .box .image::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    border-style: solid;
    border-width: 0px 0px 170px 500px;
    border-color: transparent transparent white transparent;
    transition: var(--main-transition);
}

.features .container .box:hover .image::after {
    border-width: 0px 500px 170px 500px;

}


.features .container .box img {
    width: 100%;
    max-width: 100%;
}

.features .container .box .text {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 20px;
}

.features .container .box .text h2 {
    position: relative;
    text-transform: capitalize;
    padding: 0 0 15px;
    font-size: 40px;
    margin-bottom: 20px;
}


.features .container .box:first-child .text h2::after {
    content: '';
    position: absolute;
    height: 3px;
    width: calc(100% - 200px);
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: #f44036;
}

.features .container .box:nth-child(2) .text h2::after {
    content: '';
    position: absolute;
    height: 3px;
    width: calc(100% - 200px);
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: #009688;
}

.features .container .box:last-child .text h2::after {
    content: '';
    position: absolute;
    height: 3px;
    width: calc(100% - 200px);
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--main-color);
}



.features .container .box .text p {
    line-height: 1.8;
    font-size: 18px;
    color: #777;
}


.features .container .box a {
    display: block;
    position: relative;
    text-transform: capitalize;
    width: fit-content;
    margin: 20px auto;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 20px;
    transition: var(--main-transition);
}

/*****************************/
.features .container .box:first-child a {
    border: 4px solid #f44036;
    color: #f44036;
}

.features .container .box:first-child a::before {
    content: "";
    position: absolute;
    background-color: #f44036;
    height: 100%;
    width: 0;
    top: 0;
    left: 0;
    transition: var(--main-transition);
    z-index: -1;
}

.features .container .box:first-child:hover a {
    color: white;
}

.features .container .box:first-child:hover a::before {
    width: 100%;
}

/**************************************/

.features .container .box:nth-child(2) a {
    border: 4px solid #009688;
    color: #009688;
}

.features .container .box:nth-child(2) a::before {
    content: "";
    position: absolute;
    background-color: #009688;
    height: 100%;
    width: 0;
    top: 0;
    left: 0;
    transition: var(--main-transition);
    z-index: -1;
}

.features .container .box:nth-child(2):hover a {
    color: white;
}

.features .container .box:nth-child(2):hover a::before {
    width: 100%;

}


/*************************************/
.features .container .box:last-child a {
    border: 4px solid var(--main-color);
    color: var(--main-color);
}


.features .container .box:last-child a::before {
    content: "";
    position: absolute;
    background-color: var(--main-color);
    height: 100%;
    width: 0;
    top: 0;
    left: 0;
    transition: var(--main-transition);
    z-index: -1;
}

.features .container .box:last-child:hover a {
    color: white;
}

.features .container .box:last-child:hover a::before {
    width: 100%;
}

/* end features */

/* start testimonials */

.testimonials {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: var(--section-background);
}

.testimonials .container {
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}

.testimonials .container .box {
    position: relative;
    padding: 20px;
    background-color: white;
}

.testimonials .container .box h3 {
    text-transform: capitalize;
    margin-bottom: 5px;
}

.testimonials .container .box p {
    color: #777;
    line-height: 1.8;
}

.testimonials .container .box .stars {
    margin: 10px 0;
}

.testimonials .container .box .stars i.filled {
    font-weight: bold;
    color: gold;
}


.testimonials .container .box .image {
    position: absolute;
    top: -50px;
    right: -5px;
}

.testimonials .container .box .image img {
    width: 100px;
    border: 10px solid var(--section-background);
    border-radius: 50%;
}



/* end testimnial */


/* start team_members */

.team_members {
    padding-top: 50px;
    padding-bottom: 50px
}

.team_members .container {
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}


.team_members .container .box {
    border-radius: 10px;
    /* overflow: hidden; */
    background-color: var(--section-background);

}

.team_members .container .box .header {
    background-color: var(--section-background);
    display: flex;
    align-items: center;
    padding-top: 60px;
}

.team_members .container .box .header img {
    border-radius: 10px;
    width: calc(100% - 40px);
    transition: var(--main-transition);
    margin-right: 10px;

}

.team_members .container .box .header:hover img {
    transform: translate3d(-20px, -10px, 0px);
    box-shadow: 10px 10px 20px #777;

}

.team_members .container .box .header .social {
    position: absolute;
    display: flex;
    width: 60px;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}

.team_members .container .box .footer {
    padding: 20px;
}

.team_members .container .box .footer h3 {
    margin-bottom: 5px;
    color: var(--main-color);
}

.team_members .container .box .footer p {
    color: #777;
}

/* end team_members */


/* start services */

.services {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: var(--section-background);

}

.services .container {
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}


.services .container .box {
    background-color: white;
    counter-increment: services;
    box-shadow: 0 0 5px rgb(188, 186, 186);
    position: relative;
    transition: var(--main-transition);
}

.services .container .box::after {
    position: absolute;
    content: "";
    width: 0;
    top: 0;
    background-color: var(--main-color);
    height: 5px;
    left: 0;
    transition: var(--main-transition);
}

.services .container .box:hover {
    transform: translateY(-10px);
}

.services .container .box:hover::after {
    width: 100%;
}

.services .container .box .head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;

}

.services .container .box .head i {
    color: #d5d5d5;
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 20px;
}

.services .container .box .head p {
    color: var(--main-color-alt);
    font-weight: bold;
    text-transform: capitalize;


}

.services .container .box .footer {
    position: relative;
    height: 30px;
    background-color: #fafafa;
    padding: 0 20px;

}

.services .container .box .footer a {
    display: block;
    text-align: right;
    color: var(--main-color-alt);
    height: 100%;
    line-height: 27px;

}

.services .container .box .footer::before {
    content: "0" counter(services);
    color: white;
    font-weight: bold;
    font-size: 20px;
    position: absolute;
    height: 100%;
    width: 40px;
    background-color: var(--main-color);
    display: flex;
    justify-content: flex-start;
    padding: 0 10px;
    align-items: center;
    top: 0;
    left: 0;

}

.services .container .box .footer::after {
    left: 45px;
    content: "";
    position: absolute;
    height: 100%;
    width: 30px;
    background-color: #d5d5d5;
    top: 0;
    transform: skewx(-35deg);

}

/* end services */


/* start skills */
.skills {
    padding-top: 50px;
    padding-bottom: 50px;

}

.skills .container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.skills .container .pro_holder h4 {
    color: black;
    margin: 20px 0;
    font-weight: bold;
    text-transform: capitalize;
}

.skills .container .pro_container {
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.skills .container .image {
    width: 500px;

}

@media (max-width:991px) {
    .skills .container .image {
        display: none;
    }
}


.skills .container .pro_holder .pro {
    background-color: var(--section-background);
    position: relative;
    height: 30px;
}

.skills .container .pro_holder .pro::after {
    position: absolute;
    content: attr(data_pro);
    right: 0;
    top: -45px;
    color: var(--main-color);
    border: 1px solid var(--section-background);
    padding: 5px;
    border-radius: 5px;

}

.skills .container .pro_holder .pro span {
    display: block;
    height: 100%;
    background-color: var(--main-color);

}

/* end skills */

/* start how work */

.how_works {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: var(--section-background);

}

.how_works .container {
    display: flex;
    align-items: center;
    gap: 30px;
}

.how_works .container .image {
    width: 500px;
    display: flex;
}

@media (max-width:991px) {
    .how_works .container .image {
        display: none;
    }

}


.how_works .container .image img {
    max-width: 100%;
}

.how_works .container .works {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.how_works .container .works .box {
    background-color: #f6f5f5;
    position: relative;
    padding: 20px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    gap: 20px;
    border: 2px solid white;
    z-index: 1;
}

.how_works .container .works .box::after {
    position: absolute;
    content: "";
    background-color: #ededed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    z-index: -1;
    transition: var(--main-transition);
}

.how_works .container .works .box:hover::after {
    width: 100%;
    height: 100%;
}

.how_works .container .works .box .icon {
    width: 50px;
    margin: 10px;
}

.how_works .container .works .box .icon img {
    max-width: 100%;
}

.how_works .container .works .box .text {
    flex: 1;

}

.how_works .container .works .box .text h3 {
    color: black;
    font-weight: bold;
    margin-bottom: 10px;
    text-transform: capitalize;
}

.how_works .container .works .box .text p {
    color: #777;
    line-height: 1.8;
}

/* end how work */

/* start last_events */

.last_events {
    padding-top: 50px;
    padding-bottom: 50px;
}

.last_events .container {
    display: flex;
    align-items: center;
    gap: 25px;
}

.last_events .container .image {
    width: 400px;
    display: flex;
    align-items: center;
}

@media (max-width:991px) {
    .last_events .container .image {
        display: none;
    }
}

.last_events .container .image img {
    width: 100%;
}

.last_events .container .events {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.last_events .container .events .counter {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}


.last_events .container .events .counter .days {
    border: 2px solid var(--section-background);
    padding: 10px;
    border-radius: 5px;
}

.last_events .container .events .counter .hours {
    border: 2px solid var(--section-background);
    padding: 10px;
    border-radius: 5px;

}

.last_events .container .events .counter .minutes {
    border: 2px solid var(--section-background);
    padding: 10px;
    border-radius: 5px;

}


.last_events .container .events .counter .seconds {
    border: 2px solid var(--section-background);
    padding: 10px;
    border-radius: 5px;

}


.last_events .container .events .counter span {
    display: block;
    color: var(--main-color);
    padding: 10px;
    border-bottom: 2px solid var(--section-background);
    text-align: center;
    font-size: 24px;
    margin-bottom: 5px;
}

.last_events .container .events .counter p {
    text-align: center;
    text-transform: capitalize;

}


.last_events .container .events .text h2 {
    text-align: center;
    font-weight: bold;
    font-size: 35px;
    margin-bottom: 20px;
    text-transform: capitalize;
}

.last_events .container .events .text p {
    text-align: center;
    color: #777;
    line-height: 1.8;
    padding: 10px;
}

.last_events form {
    background-color: var(--section-background);
    border-radius: 50px;
    max-width: 600px;
    margin: 40px auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 30px;
}



.last_events form input[type="email"] {
    background-color: white;
    border: none;
    border-radius: 30px;
    padding: 15px 20px;
    color: black;
    flex-basis: 75%;

}

.last_events form input[type="email"]:focus {
    border: none;
    outline: none;
}

.last_events form input[type="submit"] {
    color: white;
    padding: 15px 20px;
    background-color: var(--main-color);
    border-radius: 30px;
    border: none;
    flex-basis: 20%;
}

.last_events form input[type="submit"]:hover {
    background-color: #1787e0;
}

@media(max-width:767px) {
    .last_events form {
        padding: 15px;
        width: 390px;
    }

    .last_events form input[type="submit"] {
        padding: 10px 15px;
    }

    .last_events form input[type="email"] {
        padding: 10px 15px;
        flex-basis: 70%;
    }

}

/* end last_events  */


/* start pricing  */
.pricing {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: var(--section-background);
    position: relative;
}


.pricing>img:first-of-type {
    position: absolute;
    bottom: 150px;
    left: 0;
    width: 100px;
}

.pricing>img:nth-of-type(2) {
    position: absolute;
    top: 150px;
    right: 0;
    width: 100px;
}

.pricing .container {
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.pricing .container .box {
    background-color: white;
    position: relative;
    z-index: 1;
}

.pricing .container .box::after {
    content: '';
    position: absolute;
    top: 0;
    width: 0;
    height: 50%;
    left: 0;
    background-color: #f6f6f6;
    transition: var(--main-transition);
    z-index: -1;
}

.pricing .container .box::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 0;
    height: 50%;
    right: 0;
    background-color: #f6f6f6;
    transition: var(--main-transition);
    z-index: -1;
}

.pricing .container .box:hover::after,
.pricing .container .box:hover::before {
    width: 100%;
}

.pricing .container .box:nth-child(2) {
    transform: translateY(-25px);
    position: relative;
}

@media (max-width:767px) {
    .pricing .container .box:nth-child(2) {
        transform: translateY(0);
    }
}

.pricing .container .box .head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

}

.pricing .container .box:nth-child(2) .head::after {
    content: "Most Popular";
    position: absolute;
    background-color: var(--main-color);
    padding: 5px 15px;
    width: 100px;
    color: white;
    height: 25px;
    top: 48px;
    right: -18px;
    display: flex;
    align-items: center;
    transform: rotate(90deg);
    font-weight: bold;
}

.pricing .container .box:nth-child(2) .head::before {
    content: "";
    position: absolute;
    border-color: transparent transparent white;
    border-style: solid;
    border-width: 18px;
    top: 95px;
    z-index: 5;
    right: 29px;
}

.pricing .container .box .head p:first-child {
    color: black;
    text-transform: capitalize;
    font-size: 24px;
    font-weight: bold;
    margin: 20px auto;
}

.pricing .container .box .head img {
    width: 60px;
    margin-bottom: 20px;
}


.pricing .container .box .head p:nth-of-type(2) {
    color: var(--main-color);
    font-size: 45px;
    font-weight: bold;
    text-align: center;
}

.pricing .container .box p:last-child {
    margin-top: 5px;
    color: #777;
    font-size: 12px;
    margin-bottom: 20px;
}

.pricing .container .box .body ul li {
    padding: 20px 15px;
    border: 1px solid var(--section-background);
    font-size: 18px;
}

.pricing .container .box .body ul li:last-child {
    border: none;

}

.pricing .container .box .body ul li i {
    margin-right: 10px;
    color: var(--main-color);
}

.pricing .container .box .footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px auto;
}


.pricing .container .box .footer button {
    background-color: transparent;
    color: var(--main-color);
    border: 2px solid var(--main-color);
    border-radius: 5px;
    padding: 15px 20px;
    font-weight: bold;
    font-size: 20px;
}

.pricing .container .box .footer button:hover {
    background-color: var(--main-color);
    color: white;
}

/* end pricing */




/* start animations */
@keyframes up_down {

    0%,
    100% {
        top: 0;
    }

    50% {
        top: -50px;
    }
}

@keyframes up_down_2 {

    0%,
    10%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40%,
    60% {
        transform: translateY(-15px);
    }
}


@keyframes left-fill {
    50% {
        left: 0;
        width: 12px;
        height: 12px;
    }

    100% {
        left: 0;
        border-radius: 0;
        height: 100%;
        width: 100%;
    }
}

@keyframes right-fill {
    50% {
        right: 0;
        width: 12px;
        height: 12px;
    }

    100% {
        right: 0;
        border-radius: 0;
        height: 100%;
        width: 100%;
    }
}

@keyframes arrowx {
    100% {
        transform: translateX(20px);
    }
}

@keyframes flashing {

    0%,
    40% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        width: 200%;
        height: 200%;
    }
}

/* end animations  */