* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --main-color: #2196f3;
    --main-color-alt: #1787e0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Cairo', sans-serif;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width:768px) {
    .container {
        width: 750px;
    }
}

@media (min-width:992px) {
    .container {
        width: 970px;
    }
}

@media (min-width:1200px) {
    .container {
        width: 1170px;
    }
}

/* start header */
.header {
    -webkit-box-shadow: 0 0 10px #ddd;
    -moz-box-shadow: 0 0 10px #ddd;
    box-shadow: 0 0 10px #ddd;
    position: relative;
    background-color: white;
}

.header .container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: white;
    position: relative;
}

@media (max-width:767px) {
    .header .container {
        flex-direction: column;
    }
}

.header .container .logo {
    color: var(--main-color);
    font-size: 26px;
    font-weight: bold;
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header .container .logo a {
    color: var(--main-color);
    font-size: 30px;
    font-weight: bold;
}

@media (max-width:767px) {
    .header .container .logo {
        width: 100%;
        margin: auto;
    }
}

.header .container .nav {
    display: flex;
}

.header .container .nav>li>a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    padding: 20px;
    height: 72px;
    position: relative;
    overflow: hidden;
    transition: 0.3s;
}

@media (max-width:767px) {
    .header .container .nav>li>a {
        padding: 15px;
        height: 40px;
    }
}

.header .container .nav>li:hover .megamenu {
    opacity: 1;
    transform: translateY(0);
    z-index: 99;
}

.header .container .nav>li>a::before {
    content: '';
    position: absolute;
    width: 100%;
    top: 0;
    background-color: var(--main-color);
    height: 2px;
    left: -100%;
    transition-duration: 0.3s;
}

.header .container .nav>li>a:hover {
    background-color: #fafafa;
}

.header .container .nav>li>a:hover::before {
    left: 0;
}

/* mega menu  */
.header .container .nav .megamenu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    position: absolute;
    z-index: -1;
    opacity: 0;
    transform: translateY(80px);
    left: 0;
    width: 100%;
    top: calc(100% + 5px);
    padding: 20px;
    border-bottom: 2px solid var(--main-color);
    transition: 0.3s;
}

@media (max-width: 767px) {
    .header .container .nav .megamenu {
        flex-direction: column;
        padding: 5px;
        align-items: flex-start;
    }
}

.header .container .nav .megamenu img {
    flex-basis: 45%;
    min-width: 400px;
    max-width: 100%;
}

@media (max-width: 991px) {
    .header .container .nav .megamenu img {
        display: none;
    }
}

.header .container .nav .megamenu .links {
    display: flex;
    flex-basis: 50%;
    justify-content: space-between;
    min-width: 565px;

}

@media (max-width: 767px) {
    .header .container .nav .megamenu .links {
        flex-direction: column;
        padding: 5px;
        min-width: 265px;
    }
}

.header .container .nav .megamenu .links ul {
    flex-basis: 45%;

}

.header .container .nav .megamenu .links ul li {
    padding: 20px 20px 20px 0;
}

@media (max-width: 767px) {
    .header .container .nav .megamenu .links ul li {
        padding: 15px 0 15px 0;
        width: 400px;
    }
}

.header .container .nav .megamenu .links ul li:hover {

    background-color: #fafafa;
}

.header .container .nav .megamenu .links ul li:not(:last-child) {
    border-bottom: 1px solid #e9e6e6;
    ;
}

@media (max-width: 767px) {
    .header .container .nav .megamenu .links ul:first-child li:last-child {
        border-bottom: 1px solid #e9e6e6
    }
}

.header .container .nav .megamenu .links ul li a {
    font-weight: bold;
    padding: 20px;
    color: var(--main-color);
    width: 509px;

}

.header .container .nav .megamenu .links ul li a i {
    margin-right: 10px;
}


/* end mega menu  */

/* end header  */

/* start landing  */
.landing {
    position: relative;
}

.landing::before {
    content: '';
    position: absolute;
    background-color: #ececec;
    width: 100%;
    height: 100%;
    left: 0;
    transform: skewy(-6deg);
    top: 0;
    transform-origin: top left;
    z-index: -1;
}

.landing .container {
    background-color: transparent;
    min-height: calc(100vh - 72px);
    display: flex;
    align-items: center;
    padding-bottom: 120px;
}

@media (max-width:979px) {
    .landing .container {
        flex-direction: column;
    }
}


.landing .container .img img {
    position: relative;
    width: 600px;
    animation: up_down 5s linear infinite;
}

@media (max-width:767px) {
    .landing .container .img img {
        display: none;
    }
}

.landing .container .text {
    flex: 1;
}

@media (max-width:979px) {
    .landing .container .text {
        text-align: center;
    }
}

@media (max-width:767px) {
    .landing .container .text {
        margin: 100px auto;
    }
}

.landing .container h1 {
    font-size: 50px;
}

@media (max-width: 767px) {
    .landing .text h1 {
        font-size: 28px;
        color: white;
    }
}

.landing .container p {
    font-size: 23px;
    line-height: 1.7;
    margin: 5px 0 0;
    color: #666;
    max-width: 500px;
    ;
}

@media (max-width: 767px) {
    .landing .text p {
        font-size: 18px;
        color: #ddd;
    }
}


.landing .up_down {
    color: var(--main-color);
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    transition: var(--main-transition);
}

.landing .up_down i {

    animation: up_down_2 1.5s linear infinite;

}

@media (max-width:767px) {
    .landing .up_down i {
        bottom: 150px;
        margin: auto;
    }
}

.landing .up_down i:hover {
    color: var(--main-color-alt);
}

/* end landing */

/* start animations */
@keyframes up_down {

    0%,
    100% {
        top: 0;
    }

    50% {
        top: -50px;
    }
}

@keyframes up_down_2 {

    0%,
    10%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40%,
    60% {
        transform: translateY(-15px);
    }
}

/* end animations  */